.dashboard-page-container-form {
  /* border: #f56acf solid 1px; */
  background: none;
  z-index: 30;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 25vh;
  left: calc(50vw - 30vh);
  border-radius: 10px;
  width: 60vh;
  height: 60vh;
}
