.admin-list-page-container {
  margin: 2% auto;
  padding: 0;
  background: white;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 14px 28px, rgba(0, 0, 0, 0.1) 0px 10px 10px;
  width: 90vw;
  height: 80vh;
}
