@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
.landing-page-wrapper {
  /* border: solid red 1px; */
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  overflow-x: hidden;
  /* 874px */
  /* width: 1678px;
  max-width: 1678px; */
  width: 100vw;
  height: 100vh;
}
.landing-page-container {
  /* border: solid red 1px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  /* max-width: 1678px; */
  width: 100vw;
  height: 380vh;
  /* height: 2718px; */
}
/* .landing-page-container img {
  z-index: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0%;
  right: 4%;
  width: 48%;
} */
.landing-page-container-a {
  /* background: rebeccapurple; */
  /* background: none; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 100vh;
  /* height: 818px; */
}
.landing-page-container-a-img {
  margin: 0 auto;
  background: url("../assets/backgroundLanding.jpg");
  background-position: top right;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  transition: all 0.6s ease-in;
  -webkit-transition: all 0.6s ease-in;
}
.landing-page-container-a-img-fade {
  /* border: solid 1px blue; */
  height: 200px;
  background-image: linear-gradient(
    to left,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 1)
  );
  position: absolute;
  left: 0px;
  /* left: 70px; */
  bottom: 80px;
  transition: all 1s ease-in;
  -webkit-transition: all 1s ease-in;
  /* width: 1500px; */
  width: calc(100vw - 280px);
  height: 870px;
}
.landing-page-container-a-img-fade-1 {
  /* border: solid 1px blue; */
  height: 200px;
  background-image: linear-gradient(
    to left,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 1)
  );
  position: absolute;
  left: 80px;
  bottom: 80px;
  transition: all 1s ease-in;
  -webkit-transition: all 1s ease-in;
  width: 1500px;
  height: 650px;
}

.landing-page-container-arrow {
  z-index: 1000;
  background-color: var(--color_e);
  /* left: 829px; */
  left: calc((100% - 20px) / 2);
  transition: all 0.6s ease-in;
  -webkit-transition: all 0.6s ease-in;
  transform: rotate(45deg);
}
.landing-page-container-a-blob-text-a {
  /* border: solid 1px red; */
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.6s ease-in;
  -webkit-transition: all 0.6s ease-in;
  font-family: "Roboto", sans-serif;
  font-weight: 800;
  letter-spacing: 2.6rem;
  position: absolute;
  width: 600px;
}
#logo-color {
  /* border: solid 1px red; */
  cursor: pointer;
  position: absolute;
  left: 40px;
  top: 34px;
  width: 120px;
  height: 85px;
}
#logo-white {
  z-index: 1000;
  cursor: pointer;
  -webkit-transition: all 0.1s ease-in;
  position: absolute;
  right: calc(20vw - 120px);
  top: 55%;
  width: 60px;
  height: 50.5px;
}
.landing-page-container-a-blob-text-a div {
  margin-left: 2.5%;
  text-align: center;
  -webkit-transition: all 0.6s ease-in;
  font-family: "Roboto", sans-serif;
}
.landing-page-container-a-blob-text-a span {
  color: white;
  text-align: start;
  -webkit-transition: all 0.6s ease-in;
  font-family: "Roboto", sans-serif;
}
.landing-page-container-a-blob-text-b {
  margin-top: 6%;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 1.2rem;
  letter-spacing: 0.03rem;
  word-spacing: 0.1rem;
  text-align: center;
  position: absolute;
  width: 35%;
  transition: all 0.6s ease-in;
  -webkit-transition: all 0.6s ease-in;
}
.landing-page-container-a-arrow-container {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  transition: all 0.6s ease-in;
  -webkit-transition: all 0.6s ease-in;
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1vw;
  word-spacing: 0.2rem;
  width: 20vw;
}
.fa-long-arrow-alt-right {
  color: var(--color_j);
  font-size: 3rem;
  margin-left: 4%;
}
.landing-page-container-b {
  /* border: solid 1px red; */
  background: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 80vh;
}
.landing-page-container-b-text-container {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  position: absolute;
  right: 0;
  top: 0px;
  transition: all 0.6s ease-in;
  -webkit-transition: all 0.6s ease-in;
  width: 100%;
  height: 100%;
}

.landing-page-container-b-text-header {
  /* border: solid 1px pink; */
  color: var(--color_j);
  /* font-family: "Roboto", sans-serif; */
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 2rem;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  width: 100%;
  height: 200px;
}
.landing-page-container-b-text-header img {
  /* border: solid 1px pink; */
  z-index: 1;
  margin-right: 10px;
  /* position: absolute;
  left: 210px;
  top: 124px; */
  transition: all 0.6s ease-in;
  -webkit-transition: all 0.6s ease-in;
  width: 70px;
  height: 70px;
}
.landing-page-container-b-text-header span {
  /* border: solid 1px pink; */
  color: var(--color_j);
  width: 70%;
}
.landing-page-container-b-text-description {
  margin-right: 16%;
  color: var(--color_j);
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 1.3rem;
  line-height: 1.6;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 65%;
  height: 50%;
}
.landing-page-container-c {
  /* border: 1px green solid; */
  background: var(--color_d);
  position: relative;
  width: 100%;
  height: 0vh;
}
/* .fa-group {
  color: white;
  font-size: 3rem;
  position: absolute;
  left: 195px;
  top: 100px;
  transition: all 0.6s ease-in;
  -webkit-transition: all 0.6s ease-in;
  width: 80px;
  height: 80px;
} */
.landing-page-container-c-header {
  /* border: 1px red solid; */
  z-index: 0;
  color: var(--color_d);
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 0px;
  top: -85px;
  width: 100%;
}
.landing-page-container-c-header-white {
  /* border: 1px red solid; */
  z-index: 1;
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 0px;
  top: -85px;
  width: 100%;
}
.landing-page-container-c-center {
  /* z-index: 60; */
  /* background: var(--color_d); */
  /* border-radius: 5px; */
  /* border: 1px red solid; */
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 0px;
  top: 300px;
  width: 100%;
  height: 100%;
}
.landing-page-container-c-center-member {
  z-index: 6;
  /* background: rgba(255, 255, 255, 0.847); */
  margin: 0 20px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  border-radius: 10px;
  box-shadow: 1px 4px 6px rgba(27, 31, 32, 0);
  width: 300px;
  height: 400px;
}
.landing-page-container-c-center-member-card {
  z-index: 13;
  margin: 45px 0 0 0;
  /* border: var(--color_j-clear) 5px solid; */
  background-position: top right;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  border-radius: 50%;
  box-shadow: -1px 3px 6px rgb(0, 0, 0, 0.4);
  width: 235px;
  height: 235px;
}
.landing-page-container-c-center-member-card::before {
  /* border: solid 1px pink; */
  color: white;
  content: "JOHN SMITH";
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 1.1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: -35px;
  left: -34px;
  width: 300px;
  height: 30px;
}
.landing-page-container-c-center-member-card::after {
  /* border: solid 1px pink; */
  color: white;
  content: "Developer";
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: -55px;
  left: -34px;
  width: 300px;
  height: 30px;
}
.landing-page-container-d {
  /* border: solid palevioletred 1px; */
  background: var(--color_d);
  /* background: none; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100vh;
}
.landing-page-container-d-center {
  /* border: solid palevioletred 1px; */
  background: var(--color_d);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  width: 100%;
  height: 100%;
}
.landing-page-container-e {
  background: white;
  /* background: none; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  width: 100%;
  height: 450px;
}
.social-Media {
  color: white;
  font-size: 1.5rem;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  width: 5vw;
  height: 5vw;
}
.social-Media:hover {
  color: var(--color_d);
}
