.landing-page-container-a-cube-wrapper {
  margin: 0 auto;
  position: absolute;
  bottom: 81.5px;
  left: 81.5px;
  transition: all 0.6s ease-in;
  -webkit-transition: all 0.6s ease-in;
  width: 1515px;
  height: 650px;
}
.square-wrapper {
  position: absolute;
  transition: all 0.6s ease-in;
  -webkit-transition: all 0.6s ease-in;
}
.square-container {
  z-index: 5;
  position: relative;
  bottom: 0;
  width: 100px;
  height: 100px;
}
.cube-second::after,
.cube-third::after,
.cube-fifth::after {
  z-index: 6;
  background-color: white;
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  transform: rotate(-57deg) translate(-15px, 40px);
  transition: all 0.6s ease-in;
  -webkit-transition: all 0.6s ease-in;
  width: 2px;
  height: 115px;
}
.cube-second::before,
.cube-third::before,
.cube-fifth::before {
  z-index: 6;
  background-color: white;
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  transform: rotate(60deg) translate(-25px, 120px);
  transition: all 0.6s ease-in;
  -webkit-transition: all 0.6s ease-in;
  width: 2px;
  height: 100px;
}
.cube-nine::before {
  z-index: 5;
  border-top: var(--color_j) 2px dashed;
  content: "";
  position: absolute;
  top: 60px;
  right: -90px;
  transform: rotate(-34deg) translate(35px, -40px);
  transition: all 0.6s ease-in;
  -webkit-transition: all 0.6s ease-in;
  width: 140px;
  height: 20px;
}
/* .cube-nine::after {
  z-index: 5;
  border-right: var(--color_j) 2px dashed;
  content: "";
  position: absolute;
  top: 45px;
  right: -90px;
  transform: rotate(-58deg) translate(-20px, -40px);
  transition: all 0.6s ease-in;
  -webkit-transition: all 0.6s ease-in;
  width: 30px;
  height: 160px;
} */
.cube-sixth::after {
  z-index: 5;
  border-left: white 1.5px solid;
  border-bottom: white 1.5px solid;
  border-radius: 0 0 0 60px;
  content: "";
  position: absolute;
  top: 29px;
  right: -150px;
  transform: rotate(7deg) skew(240deg, 135deg) translate(5px, 0px);
  transition: all 0.6s ease-in;
  -webkit-transition: all 0.6s ease-in;
  width: 95px;
  height: 95px;
}
.cube-first .square,
.cube-second .square,
.cube-third .square,
.cube-forth .square,
.cube-fifth .square,
.cube-sixth .square,
.cube-seventh .square {
  border: var(--color_j) solid 1px;
  background: var(--color_j);
  box-shadow: -1px 7px 4px rgb(0, 0, 0, 0.2);
}
.cube-eight .square,
.cube-nine .square {
  border: var(--color_j) solid 1px;
  background: white;
  box-shadow: -1px 7px 4px rgb(0, 0, 0, 0.1);
}
.cube-ten .square {
  background: white;
  border: var(--color_d) solid 1px;
}
.cube-elev .square {
  background: white;
  border: var(--color_j) solid 1px;
}
.cube-twel .square {
  background: white;
  border: var(--color_d) solid 1px;
}
.square {
  background: var(--color_j);
  transform: skew(180deg, 210deg);
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  position: absolute;
  left: -1.9%;
  top: 36%;
  transition: all 1.2s ease-in;
  -webkit-transition: all 1.2s ease-in;
  overflow: hidden;
  width: 50px;
}

.cube-first .square2,
.cube-second .square2,
.cube-third .square2,
.cube-forth .square2,
.cube-fifth .square2,
.cube-sixth .square2,
.cube-seventh .square2 {
  border: var(--color_j) solid 1px;
  background: var(--color_j);
  box-shadow: 1px 7px 4px rgb(0, 0, 0, 0.2);
}
.cube-eight .square2,
.cube-nine .square2 {
  border: var(--color_j) solid 1px;
  background: white;
  box-shadow: 1px 7px 4px rgb(0, 0, 0, 0.1);
}
.cube-ten .square2 {
  background: white;
  border: var(--color_d) solid 1px;
}
.cube-elev .square2 {
  background: white;
  border: var(--color_j) solid 1px;
}
.cube-twel .square2 {
  background: white;
  border: var(--color_d) solid 1px;
}
.square2 {
  background: var(--color_d);
  transform: skew(180deg, 150deg);
  position: absolute;
  right: -2%;
  top: 36%;
  transition: all 0.6s ease-in;
  -webkit-transition: all 0.6s ease-in;
  transition: all 1.2s ease-in;
  -webkit-transition: all 1.2s ease-in;
  overflow: hidden;
  width: 50px;
}

.cube-first .square3,
.cube-second .square3,
.cube-third .square3,
.cube-forth .square3,
.cube-fifth .square3,
.cube-sixth .square3,
.cube-seventh .square3 {
  background: var(--color_j);
  border: var(--color_j) solid 1px;
  /* background-repeat: no-repeat;
  background-size: cover; */
  box-shadow: -2px 2px 6px rgb(0, 0, 0, 0.2);
}
.cube-eight .square3,
.cube-nine .square3 {
  background: white;
  border: var(--color_j) solid 1px;
  box-shadow: -2px 2px 6px rgb(0, 0, 0, 0.2);
}
.cube-ten .square3 {
  background: white;
  border: var(--color_d) solid 1px;
}
.cube-elev .square3 {
  background: white;
  border: var(--color_j) solid 1px;
}
.cube-twel .square3 {
  background: white;
  border: var(--color_d) solid 1px;
}
.square3 {
  background: var(--color_d);
  /* border: white solid 1px; */
  position: absolute;
  top: -4%;
  right: 19.5%;
  transform: rotate(150deg) skew(30deg, 0deg);
  overflow: hidden;
  width: 58px;
  height: 50px;
}
/*  */

.square-container-big {
  /* border: solid 1px var(--color_d); */
  z-index: 5;
  position: relative;
  left: -500px;
  top: 10px;
  width: 300px;
  height: 300px;
}
.square-wrapper-big {
  position: absolute;
  transition: all 0.6s ease-in;
  -webkit-transition: all 0.6s ease-in;
}
.square-big {
  background: var(--color_j);
  transform: skew(180deg, 210deg);
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  position: absolute;
  left: -3%;
  top: 36%;
  transition: all 1.2s ease-in;
  -webkit-transition: all 1.2s ease-in;
  overflow: hidden;
  box-shadow: -1px 6px 4px rgb(0, 0, 0, 0.2);
  width: 152px;
  height: 168px;
}
.square-big img {
  margin-top: 18%;
  margin-right: 15%;
  width: 100px;
  height: 120px;
}
.square2-big {
  background: var(--color_j);
  transform: skew(180deg, 150deg);
  position: absolute;
  right: -3px;
  top: 35.7%;
  transition: all 0.6s ease-in;
  -webkit-transition: all 0.6s ease-in;
  transition: all 1.2s ease-in;
  -webkit-transition: all 1.2s ease-in;
  overflow: hidden;
  box-shadow: 1px 4px 4px rgb(0, 0, 0, 0.2);
  width: 152px;
  height: 168px;
}
.square2-big img {
  margin-top: 18%;
  margin-right: 18%;
  width: 80px;
  height: 90px;
}
.square3-big {
  background: var(--color_j);
  position: absolute;
  top: -6%;
  right: 22.5%;
  transform: rotate(150deg) skew(30deg, 0deg) translate(-6px, 0);
  box-shadow: -1px 2px 4px rgb(0, 0, 0, 0.2);
  width: 180.5px;
  height: 156px;
}
.square3-big img {
  margin-top: 18%;
  margin-right: 18%;
  transform: rotate(150deg) skew(-30deg, 0deg);
  width: 110px;
  height: 100px;
}
.square-wrapper-big::after {
  z-index: 6;
  border-top: var(--color_j) 2px dashed;
  content: "";
  position: absolute;
  left: -300px;
  bottom: 300px;
  transform: rotate(148deg) translate(-30px, 0px);
  width: 215px;
  height: 4px;
}
.square-wrapper-big::before {
  z-index: 6;
  border-top: var(--color_j) 2px dashed;
  content: "";
  position: absolute;
  left: -340px;
  bottom: -100px;
  transform: rotate(35deg) translate(-30px, -80px);
  width: 215px;
  height: 4px;
}
