.MenuIcon-wrapper {
  /* border: solid blue 1px; */
  position: relative;
  height: 1.8vmin;
  width: 1.8vmin;
}
.dot-icon {
  background: var(--color-blue);
  border-radius: 10%;
  transition: all 0.2s ease-out;
  position: absolute;
  top: 0vmin;
  left: 0vmin;
  height: 1.8vmin;
  width: 1.8vmin;
}

#dot-icon-opened {
  border-radius: 42% 58% 40% 60% / 59% 67% 33% 41%;
  height: 2.8vmin;
  width: 2.8vmin;
}
