:root {
  --color_c: #023883;
  --color_c-clear: #023883de;
  /* --color_a: #493c77;
  --color_c: #493c77;
  --color_c-clear: #493c77dd; */
  --color_d: #9bf051;
  --color_d-clear: #9bf051d4;
  --color_e: #dd16f3;
  --color_e-clear: #dd16f3e4;
  --color_f: #454a5f;
  --color_f-clear: #606577;
  --color_g: #9bf051;
  --color_g-clear: #bffe883e;
  --color_h: #51566c;
  --color_h-clear: #51566cc1;
  --color_j: #1eb0ff;
  --color_j-clear: #1eb0ffec;
  --color_k: #c5c7d3;
  --color_k-clear: #c5c7d3ee;
}

.sign-page-container {
  /* border: solid red 1px; */
  background: url("../assets/backgroundLanding.jpg");
  background-position: top right;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
  top: 0;
  left: 0;
  width: 100vw;
  min-height: 100vh;
}
.sign-page-container-shade {
  background-image: linear-gradient(
    to left,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 1)
  );
  position: absolute;
  top: 0;
  left: 0;
  width: 60vw;
  min-height: 100vh;
}
.sign-page-container-form {
  /* border: #9bf051 solid 1px; */
  z-index: 3;
  position: absolute;
  top: 25vh;
  left: 0px;
  width: 50vw;
}
