.navbar-wrapper {
  z-index: 3;
  padding: 0 4vw;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 14vh;
}
.HomeLink {
  padding: 0;
  margin: 0;
  color: white;
  font-family: var(--font-roboto);
  font-weight: 400;
  font-size: 1vw;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  height: 100%;
  cursor: pointer;
  border-radius: var(--radius-button);
}
.HomeLink:hover {
  color: var(--color-800);
}
.NavLink {
  padding: 0 2vw;
  margin: 0 0.4vw;
  color: var(--color-blue);
  font-family: var(--font-roboto);
  font-weight: 400;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  position: relative;
  cursor: pointer;
  border-radius: var(--radius-button);
  height: 85%;
}
#marketplace-btn::after {
  content: "";
  background: var(--color-blue);
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 0.2vh;
}
#dashboard-btn::after {
  content: "";
  background: var(--color-blue);
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 0.2vh;
}
.NavLink:hover {
  background: var(--color-white-27);
}
.NavLogo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
}
.LogoImg {
  width: 2.8vw;
}
.LogoName {
  color: white;
  font-family: var(--font-exo);
  font-weight: 800;
  font-size: 1.5vw;
}
.NavMenu {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.NavMenuLeft {
  display: flex;
  align-items: center;
  margin-right: 2vw;
  height: 45px;
}
.NavMenuRight {
  display: flex;
  align-items: center;
  height: 45px;
}
#registration-btn {
  padding: 0 2vw;
  color: white;
  background: var(--color-blue);
  font-weight: 600;
  font-size: 1rem;
  margin-left: 0.5vw;
}
#registration-btn:hover {
  opacity: 0.9;
}
#authentication-in-btn {
  background: white;
  color: var(--color-blue);
  border: solid 0.1px white;
  font-size: 1rem;
  font-weight: 600;
}
#authentication-in-btn:hover {
  background: var(--active-btn-one);
}
.NavMenuShrinked {
  padding: 0;
  margin: 0;
  display: none;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 3.5vw;
}
.NavMenuBottom {
  opacity: 0;
  z-index: -1;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
  position: absolute;
  top: 10vh;
  right: -4.5vw;
  transition: all 0.3s ease-out;
  overflow: hidden;
  width: 12vw;
}
#NavMenuBottom-opened {
  opacity: 1;
}
.NavLinkShrinked {
  border-radius: 42% 58% 40% 60% / 59% 67% 33% 41%;
  padding: 1vmin;
  margin: 2vmin 0 0 0;
  font-family: var(--font-roboto);
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  cursor: pointer;
  width: 11vmin;
  height: 11vmin;
}
.shrinked {
  background: var(--color-blue-fade);
  color: white;
  font-weight: 400;
  font-size: 0.7rem;
}
.shrinked-authentication-in-btn {
  background: var(--color-blue);
  color: white;
  font-weight: 900;
  font-size: 0.8rem;
}
.shrinked-registration-btn {
  font-weight: 900;
  font-size: 0.7rem;
  color: var(--color-blue);
  background: white;
}
.shrinked-authentication-in-btn:hover {
  color: white;
  font-size: 0.9rem;
}
.shrinked-registration-btn:hover {
  color: var(--color-blue);
  font-size: 0.9rem;
}
.shrinked:hover {
  opacity: 0.9;
  color: white;
  font-weight: 500;
}
@media screen and (min-width: 950px) and (max-width: 1350px) {
  .LogoImg {
    width: 4vw;
  }
  .LogoName {
    font-size: 2.6vw;
  }
}
@media screen and (max-width: 949px) {
  .NavMenu {
    display: none;
  }
  .NavMenuShrinked {
    display: flex;
  }
  .LogoImg {
    width: 5vw;
  }
  .LogoName {
    font-size: 2.8vw;
    color: var(--color-blue);
  }
  .navbar-wrapper {
    padding: 0 6vw;
  }
}
