.Home-wrapper {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
  max-width: 100vw;
  width: 100vw;
  max-height: 100vh;
  height: 100vh;
}
.HomeFirstSection {
  z-index: 1;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: flex-end;
  position: relative;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  min-height: 1025px;
}
.HomeFirstSectionDotsWrapper {
  opacity: 1;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(7, 1fr);
  justify-items: center;
  align-items: center;
  position: fixed;
  top: 28vmin;
  left: 12.5vw;
  overflow: hidden;
  width: 11.2vmin;
  height: 15.5vmin;
}
.Dot {
  background: var(--color-green);
  border-radius: 10%;
  width: 0.6vmin;
  height: 0.6vmin;
}
.FirstSectionText {
  position: fixed;
  top: 36.2vmin;
  left: calc(12.6vw + 9vmin);
  width: 50vmin;
  height: 50vmin;
}
.FirstSectionText-left {
  color: var(--color-green);
  font-family: var(--font-exo);
  font-weight: 800;
  font-size: 7.8vmin;
  line-height: 7vmin;
  text-align: left;
  width: 100%;
  height: 53%;
}
.FirstSectionText-left span {
  color: white;
  font-family: var(--font-exo);
  font-weight: 800;
  font-size: 4.5vmin;
  line-height: 7vmin;
  text-align: left;
  min-width: 90%;
  height: 50%;
}
.FirstSectionText-right {
  color: white;
  font-family: var(--font-exo);
  font-weight: 500;
  font-size: 4rem;
  text-align: left;
  width: 70%;
}
.text-description {
  padding: 2%;
  font-family: var(--font-roboto);
  color: white;
  word-spacing: 0.1vmin;
  line-height: 3vmin;
  font-weight: 300;
  font-size: 1.8vmin;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 96%;
  height: 40%;
}
.FirstSectionTextBtn {
  padding: 0.5vmin 3vmax;
  background: white;
  /* background: var(--color-blue); */
  color: var(--color-blue);
  font-family: var(--font-roboto);
  font-weight: 600;
  font-size: 1.6vmin;
  text-decoration: none;
  border: none;
  border-radius: var(--radius-button);
  position: absolute;
  bottom: -2vmin;
  right: 0;
}
@media screen and (min-width: 950px) and (max-width: 1350px) {
  .HomeFirstSectionDotsWrapper {
    top: 26vmin;
    left: 10.5vw;
    overflow: hidden;
    height: 14vmin;
  }
  .Dot {
    width: 0.5vmin;
    height: 0.5vmin;
  }

  .FirstSectionText {
    left: calc(10.5vw + 9vmin);
    top: 32.6vmin;
    width: 36vmin;
    height: 58vmin;
  }
  .FirstSectionText-left {
    font-size: 8vmin;
  }
  .FirstSectionText-left span {
    font-size: 4.5vmin;
    line-height: 7vmin;
    text-align: left;
    min-width: 90%;
    height: 50%;
  }
  .FirstSectionTextBtn {
    right: 18vmin;
  }
}
@media screen and (min-width: 700px) and (max-width: 949px) {
  .HomeFirstSectionDotsWrapper {
    top: 30vmax;
    left: 25vw;
    width: 18vmin;
    height: 28vmin;
  }
  .Dot {
    width: 0.9vmin;
    height: 0.9vmin;
  }
  .FirstSectionText {
    top: 30vmax;
    left: 25vw;
    width: 50vw;
    height: 62vmin;
  }
  .FirstSectionText-left {
    margin-left: 18vmin;
    font-size: 7vmin;
    width: calc(100% - 18vmin);
  }
  .FirstSectionText-left span {
    line-height: 10vmin;
    font-size: 4vmin;
    text-align: left;
  }
  .text-description {
    line-height: 3vmax;
    font-weight: 400;
    font-size: 1.8vmax;
    text-align: center;
    width: 100%;
  }
  .FirstSectionTextBtn {
    padding: 1.4vmin 5vmin;
    font-weight: 800;
    font-size: 1.9vmin;
    bottom: -8vmin;
    right: 16vmin;
  }
}
@media screen and (max-width: 699px) {
  .HomeFirstSectionDotsWrapper {
    top: 43vmax;
    left: 25vw;
    width: 18vmin;
    height: 28vmin;
  }
  .Dot {
    width: 0.9vmin;
    height: 0.9vmin;
  }
  .FirstSectionText {
    top: 43vmax;
    left: 26vw;
    width: 50vw;
    height: 60vmin;
  }
  .FirstSectionText-left {
    margin-left: 18vmin;
    font-size: 7.5vmin;
    width: calc(100% - 18vmin);
  }
  .FirstSectionText-left span {
    line-height: 10vmin;
    font-size: 4vmin;
    text-align: left;
  }
  .text-description {
    line-height: 3vmin;
    font-weight: 400;
    font-size: 2.2vmin;
    text-align: center;
    width: 100%;
  }
  .FirstSectionTextBtn {
    padding: 1.4vmin 5vmin;
    font-weight: 800;
    font-size: 1.9vmin;
    bottom: -8vmin;
    right: 16vmin;
  }
}
