.register-page-container-form {
  /* border: solid red 1px; */
  /* background: #fffffff3; */
  z-index: 3;
  position: absolute;
  top: 15vh;
  left: 4vw;
  /* box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px; */
  border-radius: 10px;
  width: 90vh;
  height: 80vh;
}
.form-check-box {
  /* border: solid 1px blue; */
  margin-top: 2%;
  margin-bottom: 2%;
  margin-left: 2%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 96%;
}
.form-check-box div {
  padding-left: 2%;
  /* border: solid 1px blue; */
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 48%;
}
.form-row-box {
  /* border: solid 1px blue; */
  /* color: #6e8b9aee; */
  padding: 0.85% 0;
  margin-left: 2.5%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 95%;
}
