.Auth-wrapper {
  /* border: solid 1px red; */
  z-index: 2;
  padding: 0;
  margin: 0;
  overflow: hidden;
  position: fixed;
  left: 18vh;
  bottom: 0;
  width: 70vh;
  height: 88vh;
}
.Auth-form-title {
  margin: 0;
  padding: 0;
  color: var(--color-purple);
  font-family: var(--font-roboto);
  font-size: 2.2rem;
  line-height: 2.2rem;
  font-weight: 600;
  text-align: center;
  position: absolute;
  top: 20%;
  left: 0;
  width: 100%;
}
.container {
  position: relative;
  top: 30%;
  left: 0%;
  overflow-y: scroll;
  overflow-x: hidden;
  width: 100%;
  min-height: 80%;
}
#register-form-container {
  padding: 0;
  top: 10%;
  left: 0%;
  width: 90%;
  max-height: 90%;
}
.col-md-5 {
  width: 43.6%;
}
.col-md-4 {
  padding-top: 0;
  width: 88%;
}
.col-md-3 {
  width: 29.4%;
}
.form-group {
  margin: 0 0 2vmin 0;
  flex-direction: row;
}
.form-control {
  padding: 0.7rem 0.75rem;
  color: var(--color-600);
  font-size: 1rem;
  border: 0;
  outline: none;
  box-shadow: none;
}
.form-control:focus {
  color: var(--color-600);
  border: 0;
  outline: none;
  box-shadow: none;
}
.form-control:hover {
  border: 0;
  outline: none;
  box-shadow: none;
}
.form-control::placeholder {
  font-size: 1rem;
  line-height: 1rem;
  color: var(--color-200);
}
label {
  color: white;
  font-family: var(--font-roboto);
  font-size: 1rem;
  line-height: 1rem;
  font-weight: 300;
}
#form-submit-btn {
  margin: 1vh 0;
  padding: 0.8vh 2vw;
  color: white;
  font-weight: 800;
  font-size: 1rem;
  width: 100%;
}
.in-btn {
  background: var(--color-purple);
}
.up-btn {
  background: var(--color-red);
}
#form-submit-btn:hover {
  opacity: 0.8;
  background: var(--color-purple);
  border: 1px solid var(--color-purple);
}
#register-form-submit-btn {
  background: var(--color-purple);
  margin: 1vh 0;
  padding: 1vh 2vw;
  color: white;
  font-weight: 800;
  font-size: 1.5rem;
  position: absolute;
  left: 41vw;
  top: 35vh;
  width: 25%;
}
.auth-extra {
  margin: 0.5vh 0;
  text-align: right;
  color: var(--color-purple-fade);
  font-family: var(--font-roboto);
  font-weight: 500;
  font-size: 0.7rem;
}
.auth-extra-link {
  color: white;
  border: 0;
  outline: none;
  box-shadow: none;
}
.auth-extra-link:focus {
  text-decoration: none;
  border: 0;
  outline: none;
  box-shadow: none;
}
.auth-extra-link:active {
  text-decoration: none;
  border: 0;
  outline: none;
  box-shadow: none;
}
.custom-control-input {
  margin-right: 0.3vw;
  border: solid 1px white;
}
.custom-checkbox {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.custom-checkbox-group {
  width: 50%;
}
input[type="checkbox"] {
  filter: sepia(1%) brightness(100%) hue-rotate(275deg) saturate(100%)
    contrast(300%);
}
@media screen and (min-width: 950px) and (max-width: 1350px) {
  .Auth-wrapper {
    left: 10vw;
    width: 45vw;
  }
  .container {
    position: relative;
    top: 35%;
    left: 0%;
    overflow-y: scroll;
    overflow-x: hidden;
    width: 95%;
    height: 60%;
  }
  #register-form-container {
    padding: 0;
    top: 6%;
    left: 0%;
    width: 100%;
    height: 80%;
  }
  .Auth-form-title {
    top: 24%;
    left: 0;
    width: 100%;
  }
  .form-control {
    padding: 0.55rem 0.75rem;
  }
  .form-control::placeholder {
    font-size: 0.8rem;
    line-height: 0.8rem;
  }
  #form-submit-btn {
    margin: 3vh 0 1vh 0;
    padding: 0.7rem 2vw;
  }
}
@media screen and (min-width: 700px) and (max-width: 949px) {
  .Auth-wrapper {
    left: 20vw;
    width: 60vw;
  }
  .Auth-form-title {
    top: 23vh;
  }
  .container {
    top: 36%;
    left: 0%;
    width: 90%;
  }
  #register-form-container {
    padding: 0;
    top: 15%;
    left: 0%;
    width: 92%;
  }
  .form-control {
    padding: 0.6rem 0.75rem;
  }
  .form-control::placeholder {
    font-size: 0.8rem;
    line-height: 0.8rem;
  }
  #form-submit-btn {
    margin: 3vh 0 1vh 0;
    padding: 0.8rem 2vw;
  }
  .form-group {
    margin: 0 0 1vh 0;
    flex-direction: row;
  }
  .col-md-3 {
    width: 33.2%;
  }
  .col-md-4 {
    width: 100%;
  }
  .col-md-5 {
    width: 49.6%;
  }
  #form-submit-btn {
    font-size: 1rem;
  }
}
@media screen and (min-width: 440px) and (max-width: 699px) {
  .Auth-wrapper {
    left: 20vw;
    width: 60vw;
  }
  .Auth-form-title {
    top: 23vh;
  }
  .container {
    top: 36%;
    left: 0%;
    width: 90%;
  }
  #register-form-container {
    padding: 0;
    top: 15%;
    left: 0%;
    width: 92%;
  }
  .form-control {
    padding: 0.6rem 0.75rem;
  }
  .form-control::placeholder {
    font-size: 0.8rem;
    line-height: 0.8rem;
  }
  #form-submit-btn {
    margin: 3vh 0 1vh 0;
    padding: 0.8rem 2vw;
  }
  .form-group {
    margin: 0 0 1vh 0;
    flex-direction: row;
  }
  .col-md-3 {
    width: 33.2%;
  }
  .col-md-4 {
    width: 100%;
  }
  .col-md-5 {
    width: 49.6%;
  }
  #form-submit-btn {
    font-size: 1rem;
  }
}
@media screen and (max-width: 439px) {
  .Auth-wrapper {
    left: 12vw;
    width: 70vw;
  }
  .Auth-form-title {
    top: 23vh;
  }
  .custom-control-label {
    font-size: 0.8rem;
  }
  .container {
    top: 36%;
    left: 0%;
    width: 90%;
  }
  #register-form-container {
    padding: 0;
    top: 20%;
    left: 0%;
    width: 92%;
  }
  .form-control {
    padding: 0.5rem 0.75rem;
  }
  .form-control::placeholder {
    font-size: 0.8rem;
    line-height: 0.8rem;
  }
  #form-submit-btn {
    margin: 2vh 0 1vh 0;
    padding: 0.6rem 2vw;
  }
  .form-group {
    margin: 0 0 1vh 0;
    flex-direction: row;
  }
  .col-md-3 {
    width: 33.2%;
  }
  .col-md-4 {
    width: 100%;
  }
  .col-md-5 {
    width: 49.6%;
  }
  #form-submit-btn {
    font-size: 1rem;
  }
}
