@import url("https://fonts.googleapis.com/css?family=Poppins:700");

:root {
  --color_c: #013e92;
  --color_c-clear: #013d92f0;
  --color_d: #9bf051;
  --color_d-clear: #9bf051d4;
  --color_e: #f56acf;
  --color_e-clear: #f56ad0a8;
  --color_f: #454a5f;
  --color_f-clear: #606577;
  --color_g: #9bf051;
  --color_g-clear: #9bf051f0;
  --color_h: #51566c;
  --color_h-clear: #51566cc1;
  --color_i: #858999;
  --color_i-clear: #858999d6;
  --color_j: #1a76d2;
  --color_j-clear: #1a76d2eb;
  --color_k: #c4c4c4;
  --color_k-clear: #c4c4c4f5;
}
.main-container {
  position: relative;
  width: 100vw;
  height: 100vh;
}
