.ErrorContainer {
  z-index: 10;
  padding: 0;
  color: var(--color-orange);
  font-family: var(--font-roboto);
  line-height: 0.9vw;
  font-size: 1vw;
  font-weight: 600;
  text-align: center;
  max-width: 33vw;
  max-height: 5vh;
}
.ErrorContainer span {
  padding: 0;
  color: var(--color-orange);
  font-family: var(--font-roboto);
  line-height: 0.9vw;
  font-size: 1vw;
  font-weight: 500;
  width: 33vw;
  max-width: 33vw;
}
.GeneralErrorContainer {
  /* border: solid red 1px; */
  z-index: 2000;
  padding: 3vw 3vw;
  color: var(--color-orange);
  font-family: var(--font-roboto);
  line-height: 0.9vw;
  font-size: 0.9vw;
  font-weight: 500;
  position: fixed;
  bottom: 8vmin;
  right: 10vmin;
  min-width: 40vw;
}
